<body class="d-flex">
  <nav class="sidebar-navigation">
    <div>
      <ul>
        <li class="active">
          <img id="photo" src="../../assets/letraL.jpg" alt="">
        </li>
        <li>
          <img class="icons" src="../../assets/gamer.png" alt="">
          <span class="tooltip">Sobre mi</span>
        </li>
        <li>
          <img class="icons" src="../../assets/tools.png" alt="">
          <span class="tooltip">Skills</span>
        </li>
        <li>
          <img class="icons" src="../../assets/proyecto.png" alt="">
          <span class="tooltip">Proyectos</span>
        </li>
        <li>
          <img class="icons" src="../../assets/correo.png" alt="">
          <span class="tooltip">Contacto</span>
        </li>

      </ul>
    </div>

    <div id="año">
      <p>2022 ©</p>
    </div>
  </nav>

  <div id="home" class="container d-flex justify-content-center m-5 align-items-center">
    <h1 class="text-center">Bienvenidx a mi sitio web</h1>
  </div>


</body>

<router-outlet></router-outlet>
