<body class="d-flex">
  <nav class="sidebar-navigation">
    <div>
      <ul>
        <li class="active" >
          <img id="photo" src="../../assets/letraL.jpg" alt="">
        </li>
        <li (click)="mostrarSobreMi()">
          <img class="icons" src="../../assets/gamer.png" alt="">
          <span class="tooltip">Sobre mi</span>
        </li>
        <li (click)="mostrarSkills()">
          <img class="icons" src="../../assets/tools.png" alt="">
          <span class="tooltip">Skills</span>
        </li>
        <li>
          <img class="icons" src="../../assets/proyecto.png" alt="">
          <span class="tooltip">Proyectos</span>
        </li>
        <li>
          <img class="icons" src="../../assets/correo.png" alt="">
          <span class="tooltip">Contacto</span>
        </li>

      </ul>
    </div>

    <div id="año">
      <p>2022 ©</p>
    </div>
  </nav>

<app-body id="home" class="container d-flex justify-content-center m-5 align-items-center"
*ngIf="sobreMi === false && skills === false"></app-body>

<app-sobre-mi class="container d-flex justify-content-center m-5 align-items-center animate__animated animate__bounceIn"
*ngIf="sobreMi === true && skills === false"></app-sobre-mi>

<app-skills class="container d-flex justify-content-center align-items-center animate__animated animate__bounceIn"
*ngIf="skills === true && sobreMi === false"></app-skills>

</body>


<router-outlet></router-outlet>
